body
{
	/*background-color: lightgray;*/
	height: 100%;
	background:cover;
}

nav
{
	height: 70px;
}

a
{
	color: white;
}

li
{
	text-decoration:none;
	display: inline-block;
	margin: 4px 30px 5px 3px;
}

h1
{
	color:#495D5B;
	font-family: 'Dosis', sans-serif;	
	font-family: 'Caveat', cursive;
	font-size: 30px;
	font-style: italic;
	margin-left:50px;
}

.heading
{
	height: 40px;
	width: 400px;
	background-color: pink;
	box-shadow: 2px 2px 2px black;
	border-radius:0px 10px 10px 0px; 
}
.focus
{
	margin: 20px 40px ;
}
.yup
{
	
	font-family: 'Caveat', cursive;
	font-family: 'Dosis', sans-serif;
	font-family: 'Kalam', cursive;
	font-family: 'Josefin Sans', sans-serif;
}

.rounded
{
	border-width: 2px;
	margin: 7px;
	box-shadow: 1px 1px 1px black;
}

span
{
	margin: 7px;
	font-family: 'Caveat', cursive;
	font-family: 'Dosis', sans-serif;
	font-family: 'Kalam', cursive;
	font-family: 'Josefin Sans', sans-serif;
}


.rounded:hover
{
	box-shadow:3px 3px 4px black;
}